:root {
  --fs-normal: 0.9375rem;
  --fs-medium: 1.5rem;
  --fs-big: 2.5rem;

  --fw-light: 200;
  --fw-normal: 400;
  --fw-bold: 600;

  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-neutral-400: hsl(212, 6%, 44%);
  --clr-neutral-500: hsl(234, 12%, 34%);
  --clr-primary-red: hsl(0, 78%, 62%);
  --clr-primary-cyan: hsl(180, 62%, 55%);
  --clr-primary-orange: hsl(34, 97%, 64%);
  --clr-primary-blue: hsl(212, 86%, 64%);
}

/* css reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html {
  font-family: "Poppins", sans-serif;
  font-size: var(--fs-normal);
  font-weight: var(--fw-normal);
  color: var(--clr-neutral-400);
}

body {
    margin: 4rem 2rem;
    background: hsl(0, 0%, 98%);
}

header {
    max-width: 520px;
    margin-inline: auto;
    text-align: center;
}

h1 {
    font-size: var(--fs-medium);
    font-weight: 200;
    line-height: 1.4;
    color: var
    (--clr-neutral-500);
    margin-bottom: 1rem;

}

.bold-heading {
    font-weight: var(--fw-bold);
}

header p {
    margin-bottom: 4rem;
    color: var(--clr-neutral-500);
}

.col {
    display: flex;
    flex-direction: column;
    
}

.card {
    padding: 2rem 1.8rem;
    background: var(--clr-neutral-100);
    margin-block-end: 2rem;
    border-radius: 5px;
    box-shadow: 0px 15px 14px -5px rgb(211, 224, 228);
}

.border-cyan {
    border-top: 3px solid var(--clr-primary-cyan);
}

.border-red {
    border-top: 3px solid var(--clr-primary-red);
}

.border-orange {
    border-top: 3px solid var(--clr-primary-orange)
}

.border-blue {
    border-top: 3px solid var(--clr-primary-blue);
}

.card img {
    display: block;
    margin-top: 2rem;
    margin-left: auto;
}